  <form action="login" (submit)="onFormSubmit($event)">
  <dx-form 
  [showValidationSummary]="true"
  [formData]="user">
    <dxi-item itemType="group" caption="Login">
      <dxi-item dataField="UserName">
        <dxi-validation-rule type="required" message="UserName is required">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="Password" [editorOptions]="{ mode: 'password' }">
        <dxi-validation-rule type="required" message="Password is required">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        itemType="button"
        horizontalAlignment="center"
        [buttonOptions]="buttonOptions"
      >
      </dxi-item>
    </dxi-item>
  </dx-form>
</form>
